.cartLogo {
    width: 2.5rem;
    height: 2.5rem;
}

.cartDiv{
    display: flex;
    flex-direction: row;
    
}

body {
    margin: 25px;
}

body {
    background-image: url("./im.jpg");
    color: #fff;
}

.form-control {
    background: #fff;
}



